{% extends "base_template.html" %}
{% load static %}
{% block title %} Registros de Login {% endblock %}

{% block content %}
<div class="d-flex">
    {% include "sidebar.html" %}
    <div class="container my-5">
        {% if perms.biddingContracts.view_userlogin %}
        {% include "messages.html" %}
        <h2 class="text-center mb-4">Lista de Acessos no Sistema</h2>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="todos-tab" data-bs-toggle="tab" data-bs-target="#todos" type="button" role="tab" aria-controls="todos" aria-selected="true">Todos os Logins</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="usuario-tab" data-bs-toggle="tab" data-bs-target="#usuario" type="button" role="tab" aria-controls="usuario" aria-selected="false">Filtrar por Usuário</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="data-tab" data-bs-toggle="tab" data-bs-target="#data" type="button" role="tab" aria-controls="data" aria-selected="false">Filtrar por Data</button>
            </li>
            <li>
                <a class="text-muted ms-2" style="text-decoration:none;" href="."><i title="Resetar página" class="fa-solid fa-arrows-rotate"></i></a> <!-- ícone de resetar página -->
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" id="myTabContent">
            <!-- Todos os logins -->
            <div class="tab-pane fade show active" id="todos" role="tabpanel" aria-labelledby="todos-tab">
                <div class="row mt-4">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-white bg-secondary bg-gradient" style="font-size: 12px;" scope="col">#</th>
                                    <th class="text-white bg-secondary bg-gradient" style="font-size: 12px;" scope="col">Usuário</th>
                                    <th class="text-white bg-secondary bg-gradient" style="font-size: 12px;" scope="col">Data e hora do login</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for login in logins %}
                                    <tr>
                                        <th class="align-middle" scope="row">{{ forloop.counter }}</th>
                                        <td class="align-middle" style="font-size:14px;">{{ login.user.username }}</td>
                                        <td class="align-middle" style="font-size:14px;">{{ login.login_time }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Filtrar por usuário -->
            <div class="tab-pane fade" id="usuario" role="tabpanel" aria-labelledby="usuario-tab">
                <div class="mt-4">
                    <form action="?" method="GET">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Nome do usuário" name="usuarios" value="{{ request.GET.usuarios }}">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                        </div>
                    </form>

                    {% if logins %}
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-white bg-secondary bg-gradient" style="font-size: 12px;" scope="col">#</th>
                                            <th class="text-white bg-secondary bg-gradient" style="font-size: 12px;" scope="col">Usuário</th>
                                            <th class="text-white bg-secondary bg-gradient" style="font-size: 12px;" scope="col">Data e hora do login</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for login in logins %}
                                            <tr>
                                                <th class="align-middle" scope="row">{{ forloop.counter }}</th>
                                                <td class="align-middle" style="font-size:14px;">{{ login.user.username }}</td>
                                                <td class="align-middle" style="font-size:14px;">{{ login.login_time }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            <!-- Filtrar por data -->
            <div class="tab-pane fade" id="data" role="tabpanel" aria-labelledby="data-tab">
                <div class="mt-4">
                    <form action="?" method="GET">
                        <div class="input-group mb-3">
                            <input type="date" class="form-control" name="datas" value="{{ request.GET.datas }}">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                        </div>
                    </form>

                    {% if logins %}
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-white bg-secondary bg-gradient" style="font-size: 12px;" scope="col">#</th>
                                            <th class="text-white bg-secondary bg-gradient" style="font-size: 12px;" scope="col">Usuário</th>
                                            <th class="text-white bg-secondary bg-gradient" style="font-size: 12px;" scope="col">Data e hora do login</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for login in logins %}
                                            <tr>
                                                <th class="align-middle" scope="row">{{ login.id }}</th>
                                                <td class="align-middle" style="font-size:14px;">{{ login.user.username }}</td>
                                                <td class="align-middle" style="font-size:14px;">{{ login.login_time }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Sessão de paginação -->
        <ul class="pagination justify-content-center">

            {% if page_obj.has_previous %} <!-- Páginação relacionada a página anterior -->

                {% if request.GET.usuarios %} <!-- Paginação relacionada ao filtro de usuários -->
                    <li class="page-item">
                        <a href="?page=&usuarios={{ request.GET.usuarios }}" class="page-link">&laquo; Primeira</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ login.previous_page_number }}" class="page-link">Anterior</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.previous_page_number }}&usuarios={{ request.GET.usuarios }}" class="page-link">&laquo; Primeira</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ login.previous_page_number }}" class="page-link">Anterior</a>
                    </li>
                {% endif %}

            {% endif %}
        
            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ page_obj.number }}</span>
            </li>
        
            {% if page_obj.has_next %} <!-- Paginação relacionada a próx página -->

                {% if request.GET.usuarios %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.next_page_number }}&usuarios={{ request.GET.usuarios }}" class="page-link">Próxima</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ page_obj.paginator.num_pages }}&usuarios={{ request.GET.usuarios }}" class="page-link">Última &raquo;</a>
                    </li>   
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.next_page_number }}" class="page-link">Próxima</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Última &raquo;</a>
                    </li>
                {% endif %}

            {% endif %}
        </ul>

        <div class="d-flex justify-content-center align-items-center mt-0">
            <a class="btn btn-secondary" href="{% url 'biddingContracts:index' %}">Voltar</a>
        </div>
    </div>
</div>
{% else %}
<div class="d-flex flex-column align-items-center">
    <img style="width: 650px;" src="{% static "imagens/error403.png" %}" alt="">
    <h3 class="text-center">Você não tem nenhuma permissão para ver isso, solicite ao administrador a permissão a qual você faz parte!</h3>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
{% endblock %}
