{% extends "base_template.html" %}

{% block content %}
<div class="d-flex">
    {% include 'sidebar.html'%}
    <div id="contrato" class="container mt-5">
        {% include "messages.html" %}
        <div class="card shadow-sm">
        <div class="card-header text-white" style="background-color: #1D1D1D;">
            <h5 class="card-title mb-0">Cadastro de Contrato</h5>
        </div>
        <div class="card-body">
            <form action="{% url 'biddingContracts:cadContrato' fornecedor_id=fornecedor_id %}" method="POST" class="row g-3">
                {% csrf_token %}              
                <div class="d-flex">
                    <div class="col-md-6">
                        <label for="{{ form.fornecedor_fk.id_for_label }}" class="form-label" value="{{fornecedor_id}}">{{ form.fornecedor_fk.label }}</label>
                        {{ form.fornecedor_fk }}
                        {% if form.fornecedor_fk.errors %}
                            <div class="text-danger">{{ form.fornecedor_fk.errors }}</div>
                        {% endif %}
                        <!-- TRIGGER -->
                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-magnifying-glass mt-2 cursor-pointer" id="bot-fornecedor" data-bs-toggle="modal" data-bs-target="#fornecedor-modal" title="procurar fornecedor"></i>
                            <span class="ms-2 mt-2">Pesquisar Fornecedores!</span>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="fornecedor-modal" tabindex="-1" aria-labelledby="modal-forn-label" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                    
                                        <a class="btn btn-light" href="{% url 'biddingContracts:fornecedor_new' %}" id="modal-forn-label" style="color:#1d1d1d;">+Novo Fornecedor</a>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" id="modal-body-content-forn">
                                        <!-- AQUI É EXIBIDO A LISTA DE FORNECEDORES CADASTRADO-->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancelar</button>
                                        <button type="button" class="btn btn-primary" id="btn-confirmar-forn">confirmar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="{{ form.licitacao_fk.id_for_label }}" class="form-label" value="{{ form.licitacao_fk.id_for_label }}">{{ form.licitacao_fk.label }} </label><a href="{% url "biddingContracts:create-bidding" %}" class="ms-2">+Cadastrar Licitação</a>
                        {{ form.licitacao_fk }}
                        {% if form.licitacao_fk.errors %}
                            <div class="text-danger">{{ form.licitacao_fk.errors }}</div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="{{ form.numero.id_for_label }}" class="form-label">{{ form.numero.label }}</label>
                    {{ form.numero }}
                    {% if form.numero.errors %}
                        <div class="text-danger">{{ form.numero.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-md-6">
                    <label for="{{ form.valor.id_for_label }}" class="form-label">{{ form.valor.label }}</label>
                    {{ form.valor }}
                    {% if form.valor.errors %}
                        <div class="text-danger">{{ form.valor.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-md-12">
                    <label for="{{ form.assuntoDetalhado.id_for_label }}" class="form-label">{{ form.assuntoDetalhado.label }}</label>
                    {{ form.assuntoDetalhado }}
                    {% if form.assuntoDetalhado.errors %}
                        <div class="text-danger">{{ form.assuntoDetalhado.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-md-6">
                    <label for="{{ form.dataInicial.id_for_label }}" class="form-label">{{ form.dataInicial.label }}</label>
                    {{ form.dataInicial }}
                    {% if form.dataInicial.errors %}
                        <div class="text-danger">{{ form.dataInicial.errors }}</div>
                    {% endif %}
                </div>

                <div class="col-md-6">
                    <label for="{{ form.dataFinal.id_for_label }}" class="form-label">{{ form.dataFinal.label }}</label>
                    {{ form.dataFinal }}
                    {% if form.dataFinal.errors %}
                        <div class="text-danger">{{ form.dataFinal.errors }}</div>
                    {% endif %}
                </div>
                <div class="col-md-6 mb-3">
                    <label class="{{ form.secretaria_fk.id_for_label }}"> Secretaria </label>
                    {{ form.secretaria_fk }}
                    {% if form.secretaria_fk.errors %}
                        <div class="text-danger">{{ form.secretaria_fk.errors }}</div>
                    {% endif %}
                </div> 

                <div class="col-12 text-center">
                    <button type="submit" class="btn btn-success">Criar Contrato</button>
                    <a class="btn btn-secondary mr-2" href="{% url 'biddingContracts:index' %}">Voltar</a>
                </div>
                
            </form>
        </div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.16/dist/jquery.mask.min.js"></script>

<script>
  
    document.getElementById('bot-fornecedor').addEventListener('click', function(){
        fetch("{% url 'biddingContracts:modal-fornecedor' %}")
        .then(response => response.text())
        .then(data=>{
            document.getElementById('modal-body-content-forn').innerHTML = data;
            console.log("dados carregado", data)
        });
    });

    document.getElementById('btn-confirmar-forn').addEventListener('click', function(){
        var selectedFornecedor = document.querySelector("input[name='flexRadioProvider']:checked");
        document.getElementById('{{ form.fornecedor_fk.id_for_label }}').value = selectedFornecedor.value;
        var modal = bootstrap.Modal.getInstance(document.getElementById('fornecedor-modal')); 
        modal.hide();
    });
</script> 

<script>
    $('#num').mask('00/0000', {placeholder: ''});
    $('#money').mask("00000.00", {reverse: true});
</script>
{% endblock %}

