{% extends "base_template.html" %}
{% load static %}
{% block title %} Fornecedores  {% endblock %}



{% block content %}
<div class="d-flex">
    {% include "sidebar.html" %}
    <div class="container my-5">
        {% include "messages.html" %}
        <h2 class="text-center mb-4">Lista de Fornecedores</h2>
        {% if fornecedores %}
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    {% if perms.biddingContracts.change_fornecedor %}
                                    <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">AÇÃO</th>
                                    {% else %}
                                    <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">AÇÃO</th>
                                    {% endif %}
                                    <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">#</th>
                                    <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">NOME</th>
                                    <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">RUA</th>
                                    <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">CEP</th>
                                    <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">ESTADO</th>
                                </tr>                               
                            </thead>
                            <tbody>
                                {% for fornecedor in fornecedores %} 
                            
                                    <tr>
                                        <td>
                                            {% if perms.biddingContracts.change_fornecedor %}
                        
                                                    <div class="d-flex gap-3">
                                                        <a href="{% url 'biddingContracts:updateforn' fornecedor.id %}" data-id="{{ fornecedor.id }}" class="text-info bot-fornecedor" aria-current="page" data-bs-toggle="modal" data-bs-target="#modal-upd-forn">editar</a>
                                                        <a class="text-danger" href="{% url "biddingContracts:delete_fornecedor" fornecedor.id %}">Deletar</a>
                                                    </div>
                                              
                                            {% endif %}
                                            <div class="modal fade" id="modal-upd-forn" aria-labelledby="head-mod-upd" aria-hidden="True">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 id="head-mod-upd">alteração dos dados de fornecedores</h5>
                                                            <button type="button" class="btn-btn-secondary" data-bs-dismiss="modal" aria-label="close" ></button>
                                                        </div>
                                                        <div class="modal-body" id="modal-body-forn-upd">
                                                            formulario de update aparece aqui 
                                                        </div>
                                                        <!--<div class="modal-footer">
                                                            <button class="btn btn-secondary"  id="cancel-upd" data-bs-dismiss="modal"> cancelar</button>
                                                            <button class="btn btn-primary" id="confirm-upd"> salvar</button>
                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </td>        
                                        <th class="align-align-middle" scope="row">{{ fornecedor.id }}

                                        </th>
                                        <td class="align-align-middle" style="font-size:14px;">
                                            {{ fornecedor.nome }}
                                            <p class="text-muted small">
                                            CNPJ: {{ fornecedor.cnpj }} <br>
                                            TELEFONE: {{ fornecedor.telefone }}
                                            </p>
                                        </td>
                                        <td class="align-align-middle" style="font-size:14px;">
                                            {{ fornecedor.endereco }}
                                            <p class="text-muted small">
                                                NúMERO: {{ fornecedor.num }} <br>
                                                BAIRRO: {{ fornecedor.bairro }}
                                            </p>
                                        </td>
                                        <td class="align-align-middle" style="font-size:14px;">
                                            {{ fornecedor.cep }}
                                        </td>
                                        <td class="align-align-middle" style="font-size:14px;">
                                            {{ fornecedor.uf }}
                                            <p class="text-muted small">
                                                CIDADE: {{ fornecedor.cidade }} <br>
                                            </p
                                        </td>
                                        <!-- falta uf -->
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Sessão de paginação -->
                    <ul class="pagination justify-content-center">

                        {% if page_obj.has_previous %} <!-- Páginação relacionada a página anterior -->

                            {% if request.GET.usuarios %} <!-- Paginação relacionada ao filtro de usuários -->
                                <li class="page-item">
                                    <a href="?page=&usuarios={{ request.GET.usuarios }}" class="page-link">&laquo; Primeira</a>
                                </li>
                                <li class="page-item">
                                    <a href="?page={{ login.previous_page_number }}" class="page-link">Anterior</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.previous_page_number }}&usuarios={{ request.GET.usuarios }}" class="page-link">&laquo; Primeira</a>
                                </li>
                                <li class="page-item">
                                    <a href="?page={{ login.previous_page_number }}" class="page-link">Anterior</a>
                                </li>
                            {% endif %}

                        {% endif %}
                    
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ page_obj.number }}</span>
                        </li>
                    
                        {% if page_obj.has_next %} <!-- Paginação relacionada a próx página -->

                            {% if request.GET.usuarios %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.next_page_number }}&usuarios={{ request.GET.usuarios }}" class="page-link">Próxima</a>
                                </li>
                                <li class="page-item">
                                    <a href="?page={{ page_obj.paginator.num_pages }}&usuarios={{ request.GET.usuarios }}" class="page-link">Última &raquo;</a>
                                </li>   
                            {% else %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">Próxima</a>
                                </li>
                                <li class="page-item">
                                    <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Última &raquo;</a>
                                </li>
                            {% endif %}

                        {% endif %}
                    </ul>
                </div>
            <div class="d-flex justify-content-center align-items-center mt-0">
                {% if perms.biddingContracts.add_fornecedor %}
                <a class="btn btn-success me-4" href="{% url "biddingContracts:fornecedor_new" %}">Cadastrar Fornecedor</a>
                {% endif %}
                <a class="btn btn-secondary" href="{% url "biddingContracts:index" %}">Voltar</a>
            </div>
        {% else %}
            <div class="d-flex justify-content-center align-items-center">
                <p class="text-center text-uppercase text-dark">Nenhum fornecedor encontrado!</p>
                <a class="btn btn-secondary" href="{% url "biddingContracts:index" %}">Voltar</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script>
        document.querySelectorAll('.bot-fornecedor').forEach(function(element){
            element.addEventListener('click', function(){
                var fornecedor_id = this.getAttribute("data-id")
                console.log(fornecedor_id);
                fetch("{% url 'biddingContracts:updateforn' 0 %}".replace(0, fornecedor_id))
                .then(response => response.text())
                .then(data=>{
                document.getElementById("modal-body-forn-upd").innerHTML = data;
                });
            });
        });  
    </script>
{% endblock %}



