{% extends "base_template.html" %}
{% load static %}
{% block title %} Cadastro de Fornecedores {% endblock %}

{% block content %}
<div class="d-flex">
    {% block sidebar %}
    {% include "sidebar.html" %}
    {% endblock %}
    
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card p-4 shadow-lg">
                    {% block messages %}
                    {% if messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {% for message in messages %}
                        <p class="{{ message.tags }}">{{ message }}</p>
                        {% endfor %}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    {% endblock %}
                    
                    {% block form_title %}
                    <h3 class="text-center mb-4" style="color: #1d1d1d;">Cadastro de Fornecedores</h3>
                    {% endblock %}
                    
                    <form method="post" action="{% url 'biddingContracts:fornecedor_new' %}">
                        {% csrf_token %}
                        {{ form.media }}
                        
                        {% block form_content %}
                        <div class="mb-3">
                            <label for="id_nome" class="form-label">Razão Social</label>
                            {{ form.nome }}
                        </div>
                        <div class="mb-3">
                            <label for="id_cnpj" class="form-label">CNPJ</label>
                            {{ form.cnpj }}
                            {% if form.cnpj.errors %}
                            <div class="alert-danger pt-1 col-auto" role="alert">
                            {{ form.cnpj.errors }}
                            </div>
                    {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="id_endereco" class="form-label">Endereço</label>
                            {{ form.endereco }}
                        </div>
                        <div class="mb-3">
                            <label for="id_num" class="form-label">Número</label>
                            {{ form.num }}
                        </div>
                        <div class="mb-3">
                            <label for="id_bairro" class="form-label">Bairro</label>
                            {{ form.bairro }}
                        </div>
                        <div class="mb-3">
                            <label for="id_cep" class="form-label">CEP</label>
                            {{ form.cep }}
                        </div>
                        <div class="mb-3">
                            <label for="id_cidade" class="form-label">Cidade</label>
                            {{ form.cidade }}
                        </div>
                        <div class="mb-3">
                            <label for="id_uf" class="form-label">UF</label>
                            {{ form.uf }}
                        </div>
                        <div class="mb-3">
                            <label for="id_telefone" class="form-label">Telefone</label>
                            {{ form.telefone }}
                        </div>
                        {% endblock %}
                        
                        <div class="d-flex justify-content-end mt-5">
                            {% block form_buttons %}
                            <a href="{% url 'biddingContracts:index' %}" name="cancel" class="btn btn-secondary me-2">Cancelar</a>
                            <button type="submit" class="btn btn-primary">Salvar</button>
                            {% endblock %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.16/dist/jquery.mask.min.js"></script>

<script>
    $('#cnpj').mask('00.000.000/0000-00', {reverse: true});
    $('#phone').mask('(00) 00000-0000');
    $('#cep').mask('00000-000');
    $("#uf").on("input", function() {
        var valor = $(this).val().toUpperCase();
        $(this).val(valor);
      });
</script>
{% endblock %}
