{% extends "base_template.html" %}

{% block title %} Lista de ARP {% endblock title %}
{% block content %}

<div class="d-flex">
    {% include "sidebar.html" %}
    <div class="container my-5">
        {% include "messages.html" %}
        <h2 class="text-center mb-4">Lista de Atas de Registros de Preços </h2>
    {% if atas %}
        <div class="list-group">
        {% for ata in atas %}           
            <div class="list-group-item list-group-item-action flex-column align-items-start mb-3">
                <div class="d-flex w-100 justify-content-between">  
                    <h5 class="mb-1">Objeto: {{ ata.assuntoDetalhado }}</h5>
                    <h5 class="mb-1">Número: {{ ata.numero }}</h5> 
                    <small>Registrada em: {{ ata.dataInicial }}</small>
                </div>
                <span>Fornecedor: {{ ata.fornecedor_fk.nome }}</span>
                <span class="badge badge-primary"> Valor da Ata é: {{ ata.valor }}</span>
                <div class="mt-2 d-flex justify-content-between">
                    <div class="d-flex">
                      <a class="text-primary" style="text-decoration: none;" href="{% url 'biddingContracts:relatorioARP' ata.pk %}"> Mais informações </a>
                    </div>
                    <div class="d-flex gap-3">
                        {% if perms.biddingContracts.change_ataregistropreco %}
                      <a class="btn btn-outline-info" href="{% url "biddingContracts:updateARP" ata.pk %}">Editar</a>
                        {% endif %}
                        {% if perms.biddingContracts.delete_ataregistropreco %}
                      <a class="btn btn-outline-danger" href="{% url "biddingContracts:deleteARP" ata.pk %}">Deletar</a>
                      {% endif %}
                    </div>
                </div>   
            </div>  
        {% endfor %} 

            <!-- Sessão de paginação -->
            <ul class="pagination justify-content-center">

                {% if page_obj.has_previous %} <!-- Páginação relacionada a página anterior -->

                    {% if request.GET.usuarios %} <!-- Paginação relacionada ao filtro de usuários -->
                        <li class="page-item">
                            <a href="?page=&usuarios={{ request.GET.usuarios }}" class="page-link">&laquo; Primeira</a>
                        </li>
                        <li class="page-item">
                            <a href="?page={{ login.previous_page_number }}" class="page-link">Anterior</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a href="?page={{ page_obj.previous_page_number }}&usuarios={{ request.GET.usuarios }}" class="page-link">&laquo; Primeira</a>
                        </li>
                        <li class="page-item">
                            <a href="?page={{ login.previous_page_number }}" class="page-link">Anterior</a>
                        </li>
                    {% endif %}

                {% endif %}
            
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{ page_obj.number }}</span>
                </li>
            
                {% if page_obj.has_next %} <!-- Paginação relacionada a próx página -->

                    {% if request.GET.usuarios %}
                        <li class="page-item">
                            <a href="?page={{ page_obj.next_page_number }}&usuarios={{ request.GET.usuarios }}" class="page-link">Próxima</a>
                        </li>
                        <li class="page-item">
                            <a href="?page={{ page_obj.paginator.num_pages }}&usuarios={{ request.GET.usuarios }}" class="page-link">Última &raquo;</a>
                        </li>   
                    {% else %}
                        <li class="page-item">
                            <a href="?page={{ page_obj.next_page_number }}" class="page-link">Próxima</a>
                        </li>
                        <li class="page-item">
                            <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Última &raquo;</a>
                        </li>
                    {% endif %}

                {% endif %}
            </ul>

        <div class="d-flex  justify-content-center accent-blue gap-3">
            <a href="{% url "biddingContracts:create-ARP" %}" class="btn btn-success">
                <i class="fa-solid fa-plus"></i>Cadastrar
            </a>
            <a href="{% url "biddingContracts:index" %}" class="btn btn-secondary">
                <i class="fa-solid fa-arrow-rotate-left"></i>
                Voltar
            </a>
        </div> 
        {% else %}
        <div class="d-flex  justify-content-center accent-blue gap-3">
            <h3 class="text-center text-uppercase">Sem ARPs Cadastradas!</h3>
            <a href="{% url "biddingContracts:index" %}" class="btn btn-secondary">
                <i class="fa-solid fa-arrow-rotate-left"></i>
                Voltar
            </a>
        </div>        
        </div>
        
    {% endif %}
    </div>
</div> 
{% endblock content %}   
 
