{% extends "base_template.html" %}

{% block title %} Lista de ARP {% endblock title %}
{% block content %}

<div class="d-flex">
    {% include "sidebar.html" %}
    <div class="container my-5">
        {% include "messages.html" %}
        <h2 class="text-center mb-4">Lista de Atas de Registros de Preços </h2>
    {% if atas %}
        <div class="list-group">
        {% for ata in atas %}           
            <div class="list-group-item list-group-item-action flex-column align-items-start mb-3">
                <div class="d-flex w-100 justify-content-between">  
                    <h5 class="mb-1">Objeto: {{ ata.assuntoDetalhado }}</h5>
                    <h5 class="mb-1">Número: {{ ata.numero }}</h5> 
                    <small>Registrada em: {{ ata.dataInicial }}</small>
                </div>
                <span>Fornecedor: {{ ata.fornecedor_fk.nome }}</span>
                <span class="badge badge-primary"> Valor da Ata é: {{ ata.valor }}</span>
                <div class="mt-2 d-flex justify-content-between">
                    <div class="d-flex">
                      <a class="text-primary" style="text-decoration: none;" href="{% url 'biddingContracts:relatorioARP' ata.pk %}"> Mais informações </a>
                    </div>
                    <div class="d-flex gap-3">
                        {% if perms.biddingContracts.change_ataregistropreco %}
                      <a class="btn btn-outline-info" href="{% url "biddingContracts:updateARP" ata.pk %}">Editar</a>
                        {% endif %}
                        {% if perms.biddingContracts.delete_ataregistropreco %}
                      <a class="btn btn-outline-danger" href="{% url "biddingContracts:deleteARP" ata.pk %}">Deletar</a>
                      {% endif %}
                    </div>
                </div>   
            </div>  
        {% endfor %}  
        {% else %}
        <h3 class="text-center text-uppercase">Sem ARPs Cadastradas!</h3>         
        </div>
        
    {% endif %}
    </div>
</div> 
{% endblock content %}   
 
