{% extends "base_template.html" %}
{% load static %}
{% block title %} Licitações  {% endblock %}



{% block content %} 
<div class="d-flex">
    {% include "sidebar.html" %}
    <div class="container-sm">
        <h1 class="text-center mt-2 text-dark">Lista de licitações</h1>
        {% include "messages.html" %}

        {% if licitacoes %}
        <nav class="navbar navbar-expand-lg mt-3 mb-3"> <!-- Início do navbar -->
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <form action="?" method="GET"> <!-- Busca licitação -->
                        <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Licitação:
                              </a>
                              <div class="dropdown-menu p-3 collapse" id="filtro-fornecedor">
                                  <div class="d-flex">
                                      <label for=""><strong>Pesquisar Licitações:</strong></label>
                                  </div>
                                  <div class="input-group d-flex flex-column">
                                      <div class="d-flex"><input type="text" class="form-control w-100" name="licitacao" id="pesq_proc" value="{{ request.GET.licitacao }}"></div>
                                      <div class="d-flex">
                                          <button class="btn btn-success mt-2" type="submit">
                                              Buscar
                                          </button>
                                      </div>
                                      <div class="d-flex">
                                          <a class="btn btn-light mt-2"  href=".">Limpar Campo</a>
                                          
                                      </div>
                                  </div>
                              </div>   
                        </li>
                      </form> <!-- Fim colapse licitação -->

                        <form action="?" method="GET"> <!-- Busca n° de Processo -->
                        <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Modalidade:
                              </a>
                              <div class="dropdown-menu p-3 collapse" id="filtro-fornecedor">
                                  <div class="d-flex">
                                      <label for=""><strong>Pesquisar Modalidades:</strong></label>
                                  </div>
                                  <div class="input-group d-flex flex-column">
                                      <div class="d-flex"><input type="text" class="form-control w-100" name="categorias" id="pesq_proc" value="{{ request.GET.categorias }}"></div>
                                      <div class="d-flex">
                                          <button class="btn btn-success mt-2" type="submit">
                                              Buscar
                                          </button>
                                      </div>
                                      <div class="d-flex">
                                          <a class="btn btn-light mt-2"  href=".">Limpar Campo</a>
                                      </div>
                                  </div>
                              </div> 
                        </li>
                      </form> <!-- Fim colapse n° de processo -->

                      <form action="?" method="GET">
                        <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Objeto:
                              </a>
                              <div class="dropdown-menu p-3 collapse" id="filtro-fornecedor">
                                  <div class="d-flex">
                                      <label for=""><strong>Pesquisar Objeto:</strong></label>
                                  </div>
                                  <div class="input-group d-flex flex-column">
                                      <div class="d-flex"><input type="text" class="form-control w-100" name="assunto" id="" value="{{ request.GET.assunto }}"></div>
                                      <div class="d-flex">
                                          <button class="btn btn-success mt-2" type="submit">
                                              Buscar
                                          </button>
                                      </div>
                                      <div class="d-flex">
                                          <a class="btn btn-light mt-2"  href=".">Limpar Campo</a>
                                      </div>
                                  </div>
                              </div> 
                        </li>
                      </form> <!-- Fim colapse de Assunto detalhado -->

                    <form action="?" method="GET">
                      <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Datas:
                            </a>
                            <div class="dropdown-menu p-3 collapse" id="filtro-fornecedor">
                                <div class="d-flex">
                                    <label for=""><strong>Pesquisar Datas:</strong></label>
                                </div>
                                <div class="input-group d-flex flex-column">
                                    <div class="d-flex"><input type="text" class="form-control w-100" name="datas" id="pesq_datas" value="{{ request.GET.datas }}"></div>
                                    <div class="d-flex">
                                        <button class="btn btn-success mt-2" type="submit">
                                            Buscar
                                        </button>
                                    </div>
                                    <div class="d-flex">
                                        <a class="btn btn-light mt-2"  href=".">Limpar Campo</a>
                                    </div>
                                </div>
                            </div> 
                      </li>
                    </form> <!-- Fim colapse datas -->
                    
                    
                    <div class="d-flex">
                        <a class="text-muted mt-2" style="text-decoration:none;" href="."><i title="Resetar página" class="fa-solid fa-arrows-rotate"></i></a> <!-- ícone de resetar página -->
                    </div>
                </ul> 
              </div>
            </div>
            {% if object_list %}
                <div class="d-flex ">
                    <p class="text-muted small">{{ object_list.count }} Licitações(ão) Existente(s)</p>
                </div>
            {% else %}
                <div class="d-flex">
                    <p class="text-muted small">Nenhum Contrato Existente</p>
                </div>
            {% endif %}
        </nav>   <!-- Fim do navbar -->

        
        <ul class="list-group accordion">
        {% for licitacao in licitacoes %}
            <div class="accordion-item accordion-flush mt-4">
                <h2 class="accordion-header" id="headingOne-{{ licitacao.numProcess }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBidding-{{ licitacao.numProcess }}" aria-expanded="true" aria-controls="collapseBidding-{{ licitacao.numProcess }}">
                        <li class="list-group-item" aria-current="true"> processo licitatório: {{licitacao.numProcess}}</li>
                    </button>
                </h2>
                <div id="collapseBidding-{{ licitacao.numProcess }}" class="accordion-collapse collapse" aria-labelledby="headingOne-{{ licitacao.numProcess }}">
                    <div class="accordion-body">
                        <li class="list-group-item"> Objeto: <span class="text-success">{{licitacao.assunto}}</span></li>
                        <li class="list-group-item"> Modalidade: <span class="text-success">{{licitacao.categoria}}</span></li>
                        <li class="list-group-item"> Data: <span class="text-success">{{licitacao.date}}</span>
                           
                        </li>
                        {% if licitacao %}
                        {% if perms.biddingContracts.change_licitacao %}
                        <a class="btn btn-outline-success ms-3 mt-2" href="{% url "biddingContracts:update_bidding" licitacao.pk %}">Editar</a>
                        {% endif %}
                        {% if perms.biddingContracts.delete_licitacao %}
                        <a class="btn btn-outline-danger ms-3 mt-2" href="{% url "biddingContracts:delete_licitacao" licitacao.pk %}">Excluir</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        </ul>

        <!-- Sessão de paginação -->
        <ul class="pagination justify-content-center mt-3">

            {% if page_obj.has_previous %} <!-- Páginação relacionada a página anterior -->

                {% if request.GET.usuarios %} <!-- Paginação relacionada ao filtro de usuários -->
                    <li class="page-item">
                        <a href="?page=&usuarios={{ request.GET.usuarios }}" class="page-link">&laquo; Primeira</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ login.previous_page_number }}" class="page-link">Anterior</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.previous_page_number }}&usuarios={{ request.GET.usuarios }}" class="page-link">&laquo; Primeira</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ login.previous_page_number }}" class="page-link">Anterior</a>
                    </li>
                {% endif %}

            {% endif %}
        
            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ page_obj.number }}</span>
            </li>
        
            {% if page_obj.has_next %} <!-- Paginação relacionada a próx página -->

                {% if request.GET.usuarios %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.next_page_number }}&usuarios={{ request.GET.usuarios }}" class="page-link">Próxima</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ page_obj.paginator.num_pages }}&usuarios={{ request.GET.usuarios }}" class="page-link">Última &raquo;</a>
                    </li>   
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.next_page_number }}" class="page-link">Próxima</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Última &raquo;</a>
                    </li>
                {% endif %}

            {% endif %}
        </ul>

        <div class="d-flex mt-4 justify-content-center flex-row-reverse gap-3 mb-3">
            <a class="btn btn-secondary " href="{% url 'biddingContracts:index' %}">Voltar</a>
            {% if perms.biddingContracts.add_licitacao %}
            <a class="btn btn-success ms-2" href="{% url 'biddingContracts:create-bidding' %}">Criar Licitação</a>
            {% endif %}
            {% comment %} <a class="btn btn-danger flex-row-reverse" href="{% url 'biddingContracts:export-pdf' %}">ExportPDF</a> {% endcomment %}
        </div>
        {% else %}
            <h2 class="text-center text-uppercase">Sem licitações cadastradas</h2>
            <div class="d-flex mt-4 justify-content-center flex-row-reverse gap-3 mb-3">
                <a class="btn btn-secondary " href="{% url 'biddingContracts:list_bidding' %}">Voltar</a>
                {% if perms.biddingContracts.add_licitacao %}
                <a class="btn btn-success ms-2" href="{% url 'biddingContracts:create-bidding' %}">Criar Licitação</a>
                {% endif %}
                {% comment %} <a class="btn btn-danger flex-row-reverse" href="{% url 'biddingContracts:export-pdf' %}">ExportPDF</a> {% endcomment %}
            </div>
        
        {% endif %}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.16/dist/jquery.mask.min.js"></script>


<script>
    $('#pesq_proc').mask('00/0000', {placeholder: ''});
    $('#pesq_datas').mask('00/00/0000', {placeholder: ''});
    
</script>
{% endblock content %}