{% extends "base_template.html" %}
{% load static %}
{% block title %} Secretarias  {% endblock %}



{% block content %}
<div class="d-flex">
    {% include "sidebar.html" %}
    <div class="container my-5">
        {% include "messages.html" %}
        <h2 class="text-center mb-4">Lista de Secretarias</h2>
        {% if secretarias %}
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">AÇÃO</th>
                                    <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">#</th>
                                    <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">NOME</th>
                                    <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">PROGRAMA</th>
                                </tr>                               
                            </thead>
                            <tbody>
                                {% for sec in secretarias %} 
                            
                                    <tr>
                                        <td>
                                            <ul class="nav">
                                                <li class="nav-item">
                                                    <div class="d-flex align-items-center">
                                                        <a href="{% url 'biddingContracts:update_secretaria' sec.id %}" data-id="{{ sec.id }}" class="nav-link active bot-secretaria" aria-current="page" data-bs-toggle="modal" data-bs-target="#modal-upd-sec">Editar</a>
                                                        {% if perms.biddingContracts.delete_secretaria %}
                                                        <a class="text-danger" style="text-decoration:none;" href="{% url "biddingContracts:del_secretaria" sec.id %}">Deletar</a>
                                                        {% endif %}
                                                    </div>  
                                                </li>
                                            </ul>
                                            <div class="modal fade" id="modal-upd-sec" aria-labelledby="head-mod-upd" aria-hidden="True">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 id="head-mod-upd">Alteração dos dados da secretaria</h5>
                                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="close" ></button>
                                                            <span aria-hidden="true">&times;</span>
                                                        </div>
                                                        <div class="modal-body" id="modal-body-sec-upd">
                                                            formulario de update aparece aqui 
                                                        </div>
                                                        <!--<div class="modal-footer">
                                                            <button class="btn btn-secondary"  id="cancel-upd" data-bs-dismiss="modal"> cancelar</button>
                                                            <button class="btn btn-primary" id="confirm-upd"> salvar</button>
                                                        </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </td>        
                                        <th class="align-align-middle" scope="row">{{forloop.counter}}
                                        </th>
                                        <td class="align-align-middle" style="font-size:14px;">
                                            {{ sec.nome }}
                                        </td>
                                        {% if sec.programa %}
                                        <td class="align-align-middle" style="font-size:14px;">
                                            {{ sec.programa }}
                                        </td>
                                        {% else %}
                                        <td class="align-align-middle" style="font-size:14px;">
                                            -------
                                        </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        
            <div class="d-flex justify-content-center">
                {% if perms.biddingContracts.add_secretaria %}
                <a class="btn btn-success me-4" href="{% url "biddingContracts:new_secretaria" %}">Cadastrar Secretaria</a>
                {% endif %}
                <a class="btn btn-secondary" href="{% url "biddingContracts:index" %}">Voltar</a>
            </div>
            {% else %}
            <p class="text-center">Nenhuma secretaria encontrada!</p>
            <a class="btn btn-secondary" href="{% url "biddingContracts:index" %}">Voltar</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script>
        document.querySelectorAll('.bot-secretaria').forEach(function(element){
            element.addEventListener('click', function(){
                var secretaria_id = this.getAttribute("data-id")
                console.log(secretaria_id);
                fetch("{% url 'biddingContracts:update_secretaria' 0 %}".replace(0, secretaria_id))
                .then(response => response.text())
                .then(data=>{
                document.getElementById("modal-body-sec-upd").innerHTML = data;
                });
            });
        });  
    </script>
{% endblock %}



