{% extends "base_template.html" %}

{% block title %} notas fiscais {% endblock %}

{% block content %}
<div class="d-flex">
  {% include "sidebar.html" %}
  <div class="container my-5">
    {% include "messages.html" %}
    <h2 class="text-center mb-4 text-uppercase">Notas Fiscais Eletrônicas</h2>
        {% if notafiscal_list %}
          <table class="table">
            <thead>
              <tr>
                <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">#</th>
                <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">NÚMERO</th>
                <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">VALOR</th>
                <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">DATA EMISSAO</th>
                <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">CONTRATO</th>
                <th class="text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">ARP</th>
                <th class="text-center text-white bg-secondary bg-gradient"style="font-size: 12px;" scope="col">AÇÕES</th>
              </tr>
            </thead>
            <tbody>
          
            {% for notafiscal in notafiscal_list %}
              <tr>
                  <th class="align align-middle" scope="row">{{ notafiscal.pk }}</th>
                  <td class="align-align-middle" style="font-size:14px;">
                    {{ notafiscal.num}}
                    <p class="text-muted small">
                      SÉRIE: {{ notafiscal.serie }}
                    </p>
                  </td>
                  <td class="align-align-middle" style="font-size:14px;">
                    R${{ notafiscal.valor }}
                    <p class="text-muted small">
                      TIPO: {{ notafiscal.tipo }}
                    </p>
                  </td>
                  <td class="align-align-middle" style="font-size:14px;">
                    {{ notafiscal.dataEmissao }}
                  </td>
                  {% if notafiscal.contrato_fk %}
                  <td class="align-align-middle" style="font-size:14px;">
                    {{ notafiscal.contrato_fk }}
                    <p class="text-muted small">
                      {{ notafiscal.fornecedor_fk }}
                    </p>
                  </td>
                  {% else %}
                  <td class="align-align-middle" style="font-size:14px;">
                    -----
                  </td>
                  {% endif %}
                  {% if notafiscal.ataregistropreco_fk %}
                  <td class="align-align-middle" style="font-size:14px;">
                    {{ notafiscal.ataregistropreco_fk }}
                    <p class="text-muted small">
                      {{ notafiscal.fornecedor_fk }}
                    </p>
                  </td>
                  {% else %}
                  <td class="align-align-middle" style="font-size:14px;">
                    -----
                  </td>
                  {% endif %}
                  
                  <td class="">
                    <div class="d-flex gap-3 justify-content-center align-align-middle" style="font-size:14px;">
                      {% if perms.biddingContracts.change_notafiscal %}
                        <a class="btn btn-link text-indigo" href="{% url "biddingContracts:updatenfe" notafiscal.pk is_contract %}">Editar</a>
                      {% endif %}
                      {% if perms.biddingContracts.delete_notafiscal %}
                        <a class="btn btn-link text-danger" href="{% url "biddingContracts:deletenfe" notafiscal.pk %}">Excluir</a>
                      {% endif %}
                    </div>
                  </td>
              </tr>
            {% endfor %}
        {% else %}
          <h3 class="text-center text-uppercase">Sem notas Fiscais!</h3>
        {% endif %}
            </tbody>
          </table>
          <!-- Sessão de paginação -->
          <ul class="pagination justify-content-center">

            {% if page_obj.has_previous %} <!-- Páginação relacionada a página anterior -->

                {% if request.GET.usuarios %} <!-- Paginação relacionada ao filtro de usuários -->
                    <li class="page-item">
                        <a href="?page=&usuarios={{ request.GET.usuarios }}" class="page-link">&laquo; Primeira</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ login.previous_page_number }}" class="page-link">Anterior</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.previous_page_number }}&usuarios={{ request.GET.usuarios }}" class="page-link">&laquo; Primeira</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ login.previous_page_number }}" class="page-link">Anterior</a>
                    </li>
                {% endif %}

            {% endif %}
        
            <li class="page-item active" aria-current="page">
                <span class="page-link">{{ page_obj.number }}</span>
            </li>
        
            {% if page_obj.has_next %} <!-- Paginação relacionada a próx página -->

                {% if request.GET.usuarios %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.next_page_number }}&usuarios={{ request.GET.usuarios }}" class="page-link">Próxima</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ page_obj.paginator.num_pages }}&usuarios={{ request.GET.usuarios }}" class="page-link">Última &raquo;</a>
                    </li>   
                {% else %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.next_page_number }}" class="page-link">Próxima</a>
                    </li>
                    <li class="page-item">
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Última &raquo;</a>
                    </li>
                {% endif %}

            {% endif %}
        </ul>
      <div class="d-flex justify-content-center flex-row-reverse gap-3">
        <a href="{% url "biddingContracts:index" %}" class="btn btn-dark">Voltar</a>
        {% comment %} <a href="{% url "biddingContracts:new_notas" is_contract %}" class="btn btn-success">+ Adicionar</a> {% endcomment %} <!-- Não acho viável um botão que leve a uma opção sabendo que existem duas -->
      </div>
  </div>
</div>
    
    
{% endblock content %}


