<!-- Sidebar -->

<style>
    #sidebar {
        width: 200px; /* Largura padrão do sidebar */
        transition: width 0.3s ease; /* Transição suave para a largura */
    }
    
    #sidebar.collapsed {
        width: 60px; /* Largura do sidebar quando colapsado */
    }
    
    #sidebar .sidebar-text {
        transition: opacity 0.3s ease; /* Transição suave para a opacidade do texto */
    }
    
    #sidebar.collapsed .sidebar-text {
        opacity: 0; /* Oculta o texto quando colapsado */
        pointer-events: none; /* Impede que os eventos de mouse afetem os itens ocultos */
    }
    
    #navItems {
        transition: transform 0.3s ease; /* Transição suave para a transformação do navItems */
    }

    .collapsed .nav-text {
        display: none; /* Oculta o texto */
    }

    .collapsed .menu {
        display: none;
    }

    .nav-text {
        font-size:0.9rem
    }
    
    
</style>



<!-- Sidebar -->
<div class="text-white p-4 flex-shrink-0 d-flex flex-column align-items-center collapsed" id="sidebar" style="min-height: 100vh; background-color: #1d1d1d;">
    <i id="sidebarToggle" class="fa-solid fa-chevron-left mb-3" style="cursor: pointer;" title="Toggle Sidebar"></i>
    <h4 class="text-center text-uppercase mb-4 menu">Menu</h4>
    <hr class="w-100" style="background-color:#fff5f5" heigth="1px"> 
    <ul class="nav d-flex flex-column  justify-content-start" id="navItems">
        <li class="nav-item mb-3">
            <a class="nav-link text-white" href="{% url 'biddingContracts:index' %}">
                <i class="fa-solid fa-house" title="Inicio"></i>
                <span class="nav-text text-white small">Início</span>
            </a>
        </li>

        {% comment %} <a href="{% url "usuarios:detail_member" user.pk %}">teste</a> {% endcomment %}

    
        <li class="nav-item mb-3">
            <div class="d-flex flex-column align-items-center">
                <a class="nav-link text-white" href="{% url "usuarios:detail_member" user.pk %}">
                    <i class="fa-solid fa-user" title="Menu Pessoal"></i> 
                    <span class="nav-text text-white small">Menu do usuário</span> 
                </a>
            </div>
        </li>
       

        {% if perms.auth.add_user %} <!-- Visualiza somente com a permissão de criar secretaria -->
        <li class="nav-item mb-3">
            <div class="d-flex flex-column align-items-center">
                <a class="nav-link text-white" href="{% url 'usuarios:cad_user' %}">
                    <i class="fa-solid fa-user-plus" title="Cadastrar Usuários Secretaria"></i> 
                    <span class="nav-text text-white small">Cadastrar Usuários</span> 
                </a>
            </div>
        </li>
        {% endif %}

        {% if perms.auth.view_user %} <!-- Visualiza somente com a permissão de criar secretaria -->
        <li class="nav-item mb-3">
            <div class="d-flex flex-column align-items-center">
                <a class="nav-link text-white" href="{% url 'usuarios:list_member' %}">
                    <i class="fa-solid fa-users" title="Listar Usuários Secretaria"></i> 
                    <span class="nav-text text-white small">Visualizar Usuários</span> 
                </a>
            </div>
        </li>
        {% endif %}

        {% if perms.biddingContracts.add_secretaria %} <!-- Visualiza somente com a permissão de criar secretaria -->
        <li class="nav-item mb-3">
            <div class="d-flex flex-column align-items-center">
                <a class="nav-link text-white" href="{% url 'biddingContracts:new_secretaria' %}">
                    <i class="fa-solid fa-s" title="Cadastrar Secretarias"></i> 
                    <span class="nav-text text-white small">Cadastrar Secretarias</span> 
                </a>
            </div>
        </li>
        {% endif %}

        {% if perms.biddingContracts.view_secretaria %}
        <li class="nav-item mb-3">
            <div class="d-flex flex-column align-items-center">
                <a class="nav-link text-white" href="{% url 'biddingContracts:list_secretarias' %}">
                    <i class="fa-solid fa-table-list" title="Listar Secretarias"></i> 
                    <span class="nav-text text-white small">Listar Secretarias</span> 
                </a>
            </div>
        </li>
        {% endif %}
        
        {% if perms.biddingContracts.add_contrato %} <!-- Visualiza somente com a permissão de criar contrato -->
        <li class="nav-item mb-3">
            <div class="d-flex flex-column align-items-center">
                <a class="nav-link text-white" href="{% url 'biddingContracts:cadContrato' fornecedor_id=0 %}">
                    <i class="fa-solid fa-c" title="Criar Contratos"></i>
                    <span class="nav-text text-white small">Cadastrar Contratos</span>
                </a>
            </div>
        </li>
        {% endif %}

        {% if perms.biddingContracts.view_contrato %}
        <li class="nav-item mb-3">
            <div class="d-flex flex-column align-items-center">
                <a class="nav-link text-white" href="{% url 'biddingContracts:contratos' %}">
                    <i class="fa-solid fa-list" title="Listar Contratos"></i>
                    <span class="nav-text text-white small">Listar Contratos</span>
                </a>
            </div>
        </li>
        {% endif %}
        
        {% if perms.biddingContracts.add_notafiscal %}
        <!--cadastro de notas fiscais -->
        <!--colapse-->
        <li class="nav-item mb-3">
            <div  id="collapse-nf d-flex flex-column align-items-center" >
                <div class="nav-link text-white ms-1">
                    <i class="fa-solid fa-n" data-bs-toggle="collapse" data-bs-target="#nota-fiscal" aria-expanded="false" aria-controls="nota-fiscal" style="cursor: pointer;" title="Cadastrar Notas Fiscais"></i>
                    <span class="nav-text text-white small" data-bs-toggle="collapse" data-bs-target="#nota-fiscal" aria-expanded="false" aria-controls="nota-fiscal" style="cursor: pointer;">Notas Fiscais</span>
                </div>
            </div>
            <div class="collapse" id="nota-fiscal" data-bs-parent="collapse-nf">
                <div>
                    <a class="nav-link text-white" href="{% url 'biddingContracts:new_notas' 0 %}">
                        <i class="fa-solid fa-file-contract" title="Nova Nota Fiscal ARP"></i>
                        <span class="nav-text text-white small"> nota fiscal (ARP)</span>
                    </a>
                    <a class="nav-link text-white" href="{% url 'biddingContracts:new_notas' 1 %}">
                        <i class="fa-regular fa-note-sticky" title="Nova Nota Fiscal Contrato"></i>
                        <span class="nav-text text-white small"> nota fiscal (contrato)</span>
                    </a>
                </div>
            </div>
        </li>
        <!--fim do colapse -->
        {% endif %}

        {% if perms.biddingContracts.view_notafiscal %}
        <li class="nav-item mb-3">
            <div class="d-flex flex-column align-items-center">
                <a class="nav-link text-white" href="{% url 'biddingContracts:notasfiscais' 2 %}">
                    <i class="fa-solid fa-list-ol" title="Listar Notas Fiscais"></i>
                    <span class="nav-text text-white small">Listar Notas Fiscais</span>
                </a>
            </div>
        </li>
        {% endif %}
    
        {% if perms.biddingContracts.add_licitacao %}
        <li class="nav-item mb-3">
            <div class="d-flex flex-column align-items-center">
                <a class="nav-link text-white" href="{% url 'biddingContracts:create-bidding' %}">
                    <i class="fa-solid fa-l" title="Cadastrar Licitações"></i> 
                    <span class="nav-text text-white small">Cadastrar Licitações</span> 
                </a>
            </div>
        </li>
        {% endif %}
        
        {% if perms.biddingContracts.view_licitacao %}
        <li class="nav-item mb-3">
            <div class="d-flex flex-column align-items-center">
                <a class="nav-link text-white" href="{% url 'biddingContracts:list_bidding' %}">
                    <i class="fa-solid fa-list-check" title="Listar Licitações"></i>
                    <span class="nav-text text-white small">Listar Licitações</span>
                </a>
            </div>
        </li>
        {% endif %}

        {% if perms.biddingContracts.view_fornecedor %}
        <li class="nav-item mb-3">
            <div class="d-flex flex-column align-items-center">
                <a class="nav-link text-white" href="{% url 'biddingContracts:fornecedores' %}">
                    <i class="fa-solid fa-truck-fast" title="Listar Fornecedores"></i>
                    <span class="nav-text text-white small">Listar Fornecedores</span>
                </a>
            </div>
        </li>
        {% endif %}

        {% if perms.biddingContracts.add_ataregistropreco %}
        <li class="nav-item mb-3">
            <a class="nav-link text-white" href="{% url 'biddingContracts:create-ARP' %}">
                <i class="fa-solid fa-a" title="Criar Atas de Registro de Preços"></i>
                <span class="nav-text text-white small">Criar ARPs</span>
            </a>
        </li>
        {% endif %}

        {% if perms.biddingContracts.view_ataregistropreco %}
        <li class="nav-item mb-3">
            <a class="nav-link text-white" href="{% url 'biddingContracts:atas' %}">
                <i class="fa-solid fa-book" title="Listar Atas de Registros de Preços"></i>
                <span class="nav-text text-white small">Listar ARPs</span>
            </a>
        </li>
        {% endif %}

        {% if user.is_authenticated %}
            <li class="nav-item mb-3">
                <div class="d-flex flex-column align-items-center">
                    <form action="{% url 'logout' %}" method="post" class="">
                        {% csrf_token %}
                        <button class="nav-link link-danger text-danger" type="submit">
                            <i class="fa-solid fa-circle-xmark" title="Sair do Sistema"></i>
                            <span class="nav-text text-white text-small">Sair do sistema</span>
                        </button>
                    </form>
                </div>
            </li>
        {% endif %}
    </ul>
</div>


<script>
    document.getElementById('sidebarToggle').addEventListener('click', function () {
        const sidebar = document.getElementById('sidebar');
        const navItems = document.querySelectorAll('#navItems .sidebar-text');
    
        sidebar.classList.toggle('collapsed');
    
        navItems.forEach(item => {
            item.classList.toggle('d-none');
        });
    
        // Mudar a direção do ícone
        if (sidebar.classList.contains('collapsed')) {
            this.classList.remove('fa-chevron-left');
            this.classList.add('fa-chevron-right');
        } else {
            this.classList.remove('fa-chevron-right');
            this.classList.add('fa-chevron-left');
        }
    });
    
    // Verificar o estado inicial do sidebar para ajustar o ícone corretamente
    window.addEventListener('DOMContentLoaded', function() {
        const sidebar = document.getElementById('sidebar');
        const toggleIcon = document.getElementById('sidebarToggle');
    
        if (sidebar.classList.contains('collapsed')) {
            toggleIcon.classList.remove('fa-chevron-left');
            toggleIcon.classList.add('fa-chevron-right');
        } else {
            toggleIcon.classList.remove('fa-chevron-right');
            toggleIcon.classList.add('fa-chevron-left');
        }
    });

        // 
    document.addEventListener('DOMContentLoaded', function () {
        var collapseElement = document.getElementById('nota-fiscal');
        var collapseState = localStorage.getItem('collapseState');

        // Verifica se há um estado salvo e aplica ao collapse
        if (collapseState === 'shown') {
        var collapse = new bootstrap.Collapse(collapseElement, {toggle: false});
        collapse.show();  // Expande se o estado for 'shown'
        } else {
        var collapse = new bootstrap.Collapse(collapseElement, {toggle: false});
        collapse.hide();  // Colapsa se o estado for 'hidden' ou null
        }

        // Escuta o evento de mostrar/esconder do collapse e salva o estado
        collapseElement.addEventListener('show.bs.collapse', function () {
        localStorage.setItem('collapseState', 'shown');
        });

        collapseElement.addEventListener('hide.bs.collapse', function () {
        localStorage.setItem('collapseState', 'hidden');
        });
    });
</script>

    
    