{% extends "base_template.html" %}
{% load static %}
{% block title %} Registros Excluídos {% endblock %}

{% block content %}
{% if perms.biddingContracts.view_registroexcluido %}
<div class="d-flex">
    {% include "sidebar.html" %}
    <div class="container my-5">
        {% include "messages.html" %}
        <h2 class="text-center mb-4">Lista de Registros Excluídos</h2>
        {% if registros %}
        <nav class="navbar navbar-expand-lg mb-3"> <!-- Início do navbar -->
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <form action="?" method="GET">
                        <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Modelo:
                              </a>
                              <div class="dropdown-menu p-3 collapse" id="filtro-fornecedor">
                                  <div class="d-flex">
                                      <label for=""><strong>Pesquisar Modelos:</strong></label>
                                  </div>
                                  <div class="input-group d-flex flex-column">
                                      <div class="d-flex"><input type="text" class="form-control w-100" name="modelos" id="" value="{{ request.GET.modelos }}"></div>
                                      <div class="d-flex">
                                          <button class="btn btn-success mt-2" type="submit">
                                              Buscar
                                          </button>
                                      </div>
                                      <div class="d-flex">
                                          <a class="btn btn-light mt-2"  href=".">Limpar Campo</a>
                                      </div>
                                  </div>
                              </div> 
                        </li>
                      </form> <!-- Fim colapse n° de modelo -->

                      <form action="?" method="GET">
                        <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Usuário:
                              </a>
                              <div class="dropdown-menu p-3 collapse" id="filtro-fornecedor">
                                  <div class="d-flex">
                                      <label for=""><strong>Pesquisar Usuários:</strong></label>
                                  </div>
                                  <div class="input-group d-flex flex-column">
                                      <div class="d-flex"><input type="text" class="form-control w-100" name="usuarios" id="" value="{{ request.GET.usuario }}"></div>
                                      <div class="d-flex">
                                          <button class="btn btn-success mt-2" type="submit">
                                              Buscar
                                          </button>
                                      </div>
                                      <div class="d-flex">
                                          <a class="btn btn-light mt-2"  href=".">Limpar Campo</a>
                                      </div>
                                  </div>
                              </div> 
                        </li>
                      </form> <!-- Fim colapse de Usuários -->

                      <form action="?" method="GET">
                        <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Datas:
                              </a>
                              <div class="dropdown-menu p-3 collapse" id="filtro-fornecedor">
                                  <div class="d-flex">
                                      <label for=""><strong>Pesquisar Datas:</strong></label>
                                  </div>
                                  <div class="input-group d-flex flex-column">
                                      <div class="d-flex"><input type="text" class="form-control w-100" name="datas" id="pesq_datas" value="{{ request.GET.datas }}"></div>
                                      <div class="d-flex">
                                          <button class="btn btn-success mt-2" type="submit">
                                              Buscar
                                          </button>
                                      </div>
                                      <div class="d-flex">
                                          <a class="btn btn-light mt-2"  href=".">Limpar Campo</a>
                                      </div>
                                  </div>
                              </div> 
                        </li>
                      </form> <!-- Fim colapse datas -->

                    <div class="d-flex align-items-center me-2">
                        <a class="text-muted" style="text-decoration:none;" href="."><i title="Resetar página" class="fa-solid fa-arrows-rotate"></i></a> <!-- ícone de resetar página -->
                        
                    </div>
                </ul> 
              </div>
            </div>
            
            {% if registros %}
                <div class="d-flex ">
                    <p class="text-muted small">{{ registros.count }} Registros(s) Excluído(s)</p>
                </div>
            {% else %}
                <div class="d-flex">
                    <p class="text-muted small">Nenhum Registro Existente</p>
                </div>
            {% endif %}
        </nav>   <!-- Fim do navbar -->
        
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-white bg-secondary bg-gradient" style="font-size: 12px;" scope="col">#</th>
                                <th class="text-white bg-secondary bg-gradient" style="font-size: 12px;" scope="col">Modelo</th>
                                <th class="text-white bg-secondary bg-gradient" style="font-size: 12px;" scope="col">Dados Excluídos</th>
                                <th class="text-white bg-secondary bg-gradient" style="font-size: 12px;" scope="col">Usuário</th>
                                <th class="text-white bg-secondary bg-gradient" style="font-size: 12px;" scope="col">Data de Exclusão</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for registro in registros %}
                                <tr>
                                    <th class="align-middle" scope="row">{{ registro.id }}</th>
                                    <td class="align-middle" style="font-size:14px;">{{ registro.modelo }}</td>
                                    <td class="align-middle" style="font-size:14px;">{{ registro.dados_excluidos|safe }}</td>
                                    <td class="align-middle" style="font-size:14px;">{{ registro.usuario }}</td>
                                    <td class="align-middle" style="font-size:14px;">{{ registro.data_exclusao }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                 <!-- Sessão de paginação -->
                    <ul class="pagination justify-content-center">

                        {% if page_obj.has_previous %} <!-- Páginação relacionada a página anterior -->

                            {% if request.GET.usuarios %} <!-- Paginação relacionada ao filtro de usuários -->
                                <li class="page-item">
                                    <a href="?page=&usuarios={{ request.GET.usuarios }}" class="page-link">&laquo; Primeira</a>
                                </li>
                                <li class="page-item">
                                    <a href="?page={{ login.previous_page_number }}" class="page-link">Anterior</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.previous_page_number }}&usuarios={{ request.GET.usuarios }}" class="page-link">&laquo; Primeira</a>
                                </li>
                                <li class="page-item">
                                    <a href="?page={{ login.previous_page_number }}" class="page-link">Anterior</a>
                                </li>
                            {% endif %}

                        {% endif %}
                    
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">{{ page_obj.number }}</span>
                        </li>
                    
                        {% if page_obj.has_next %} <!-- Paginação relacionada a próx página -->

                            {% if request.GET.usuarios %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.next_page_number }}&usuarios={{ request.GET.usuarios }}" class="page-link">Próxima</a>
                                </li>
                                <li class="page-item">
                                    <a href="?page={{ page_obj.paginator.num_pages }}&usuarios={{ request.GET.usuarios }}" class="page-link">Última &raquo;</a>
                                </li>   
                            {% else %}
                                <li class="page-item">
                                    <a href="?page={{ page_obj.next_page_number }}" class="page-link">Próxima</a>
                                </li>
                                <li class="page-item">
                                    <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Última &raquo;</a>
                                </li>
                            {% endif %}

                        {% endif %}
                    </ul>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-0">
                <a class="btn btn-secondary" href="{% url 'biddingContracts:index' %}">Voltar</a>
            </div>
        {% else %}
            <div class="d-flex justify-content-center align-items-center flex-column">
                <p class="text-center text-uppercase text-dark">Nenhum registro excluído encontrado!</p>
                <a class="btn btn-secondary" href="{% url 'biddingContracts:index' %}">Voltar</a>
            </div>
        {% endif %}
    </div>
</div>
{% else %}
<div class="d-flex flex-column align-items-center">
    <img style="width: 650px;" src="{% static "imagens/error403.png" %}" alt="">
    <h3 class="text-center">Você não tem nenhuma permissão para ver isso, solicite ao administrador a permissão a qual você faz parte!</h3>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-mask-plugin@1.14.16/dist/jquery.mask.min.js"></script>


<script>
    $('#pesq_proc').mask('00/0000', {placeholder: ''});
    $('#pesq_datas').mask('00/00/0000', {placeholder: ''});
    
</script>
{% endblock %}